* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Shrikhand", serif;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#F19116, #ad6a12);
    height: 60px;
    width: 100%;
    font-size: 1.6rem;
}

#navbar>* {
    margin: 0 2rem;
}

#navbar a {
    text-decoration: none;
    color: #6B6E8E;
    -webkit-text-stroke: 1px #C70C42;
    text-shadow: 2px 2px 0 #E8001F;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    display: inline;
    padding: 0 5px;
}

#navbar a:hover {
    color: rgb(216, 216, 0);
}

#showcase {
    background: #192420 url(./nathan-anderson-OtFKJf3MXXo-unsplash.jpg) no-repeat center center/cover;
    /* Photo by <a href="https://unsplash.com/@nathananderson?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nathan Anderson</a> on <a href="https://unsplash.com/photos/galaxy-OtFKJf3MXXo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
    height: 100vh;
}

#showcase .showcase-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #C70C42;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-content div h1 {
    margin: 20px;
    font-size: 1.8rem;
    color: #ce1361;
}

#main-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    max-width: 24vw;
}

.text-gradient{
    background: linear-gradient(#e12667 ,#b713c3, #ab773b);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-icon {
    display: flex;
    justify-content: space-between;
}

i {
    padding: 0 1rem;
}